:root {
    --fonte-principal: Arial, Helvetica, sans-serif;
    --cor-primaria: #222;
    --cor-secundaria: #fff;
    --cor-de-fundo: rgb(18, 10, 85);
    --borda-padrao: 1px solid rgb(0 0 0 / 0.2);
    --posicao-texto: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header,footer,.grid {
    max-width: 840px;
    margin: 0 auto;
}   

body {
    font-family: var(--fonte-principal);
    line-height: 1.5;
    color: var(--cor-primaria);
    background: var(--cor-secundaria);
    padding: 20px;
}


nav {
    background-color: var(--cor-de-fundo);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--cor-secundaria);
}

.grid {
    display: grid;
    grid-template-columns: 300px 3fr;
    gap: 2rem;
    align-items: start;
}


main {
    grid-column: 2;
}

aside {
    grid-column: 1;
    grid-row: 1;
    margin: 2em;
    border: var(--borda-padrao);
    padding: 1em;
    background-color: #eee;
    color: var(--cor-primaria);
    text-align: var(--posicao-texto);
}

aside img {
    width: 10rem;
    height: auto;
}


h1 {
    color: var(--cor-de-fundo);
    border-bottom: 2px solid var(--cor-de-fundo);
    margin-bottom: 1rem;
}


main img {
    width: 150px;
    height: auto;
    float: right;
    margin: 0 0 1rem 1rem;
    border: 1px solid rgb(209, 204, 204);
    padding: 2px;
    box-shadow: 0 0 10px gray;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: var(--borda-padrao);
    text-align: var(--posicao-texto);
}

.grid aside ul {
    background-color: #e9e9e9;
    color: var(--cor-primaria);
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
}